<table style="border-collapse: collapse; width: 100%; height: 18px;" border="1">
    <tbody>
    <tr style="height: 18px;">
    <td style="width: 14.9371%; height: 18px; text-align: center;">Cr&eacute;dits</td>
    <td style="width: 85.0629%; height: 18px; text-align: center;">Mathieu THOS</td>
    </tr>
    </tbody>
    </table>
    <h1 style="text-align: center;">Erreur 404</h1>
    <h3 style="text-align: center;"><img style="font-size: 14px;" src="https://dualtron-store.com/wp-content/uploads/2016/06/erreur-404-2.jpg" alt="" width="353" height="179" /></h3>
    <h3 style="text-align: center;">Cette page n'existe pas</h3>
    <p style="text-align: center;">&nbsp;</p>
    <p style="text-align: center;">Essayer autre chose</p>