:root {
    --md-primary-fg-color: #AB966F;
    --md-primary-fg-color--light: #AB966F;
    --md-primary-fg-color--dark:  #AB966F;

    /* Accent color shades */
    --md-accent-fg-color: #AB966F;
    --md-accent-fg-color--transparent: #AB966F;
    --md-accent-bg-color: #AB966F;
    --md-accent-bg-color--light: #AB966F;

    /* Code block color shades */
    --md-code-bg-color: #AB966F;
    --md-code-fg-color: #AB966F;
    
    /* Footer */
    --md-footer-bg-color: #AB966F;
    --md-footer-bg-color--dark: #AB966F;
    --md-footer-fg-color: #AB966F;
    --md-footer-fg-color--light: #AB966F;
    --md-footer-fg-color--lighter: #AB966F;
  }