
/* les différentes élément type onglet, admonitions et replié 
   dont on ne veut pas diminuer la taille de la police */

.md-typeset .admonition, .tabbed-set {
    font-size: 0.8rem;
}

.md-typeset details, details.tip *, details.check * {
  font-size: 0.8rem;
}



@keyframes heart {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60% {
    transform: scale(1.1);
  }
}
.heart {
  animation: heart 1000ms infinite;
  color:firebrick
}

:root {
  --md-admonition-icon--savoir: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"/></svg>')
}
.md-typeset .admonition.savoir,
.md-typeset details.savoir {
  border-color: rgb(219, 16, 16);
}
.md-typeset .savoir > .admonition-title,
.md-typeset .savoir > summary {
  background-color: rgba(185, 27, 101, 0.1);
  border-color: rgb(219, 16, 16);
}
.md-typeset .savoir > .admonition-title::before,
.md-typeset .savoir > summary::before {
  background-color: rgb(219, 16, 16);
  animation: heart 1000ms infinite;
  -webkit-mask-image: var(--md-admonition-icon--savoir);
          mask-image: var(--md-admonition-icon--savoir);
}

/* Test pour cacher une image en fonction du thème */

body[data-md-color-scheme^="default"] img.sombre {
  display: none;
}

body[data-md-color-scheme^="slate"] img.clair {
  display: none;
}




:root {
  --md-admonition-icon--d: url('https://cdn-icons-png.flaticon.com/512/118/118069.png')
}
.md-typeset .admonition.d,
.md-typeset details.d {
  border-color: rgb(173, 255, 47);
}
.md-typeset .d > .admonition-title,
.md-typeset .d > summary {
  background-color: rgba(172, 255, 47, 0.24);
}
.md-typeset .d > .admonition-title::before,
.md-typeset .d > summary::before {
  background-color: rgb(100, 165, 1);
  -webkit-mask-image: var(--md-admonition-icon--d);
          mask-image: var(--md-admonition-icon--d);
}

:root {
  --md-admonition-icon--p: url('https://cdn-icons.flaticon.com/png/512/1627/premium/1627314.png?token=exp=1651423437~hmac=4f8b93318cebcffb61f5d080311ac572')
}
.md-typeset .admonition.p,
.md-typeset details.p {
  border-color: rgb(240, 195, 0);
}
.md-typeset .p > .admonition-title,
.md-typeset .p > summary {
  background-color: rgba(240, 196, 0, 0.205);
}
.md-typeset .p > .admonition-title::before,
.md-typeset .p > summary::before {
  background-color: rgb(180, 147, 1);
  -webkit-mask-image: var(--md-admonition-icon--p);
          mask-image: var(--md-admonition-icon--p);
}
